logo = #820200
/*Header*/
.Header
	text-align center
	padding 3em

.Header-title
	font-weight lighter
	margin 1em 0 0 1em
	vertical-align top
	color black
	padding 0

.Header-imageContainer
	float left
	width 110px
	left 0.5em
	top 45px
	margin 0
	padding 0
	position absolute
	vertical-align top

.Header-image
	margin 0
	width 100%
//  /*Main Menu*/
.MainMenu
	position relative
	overflow hidden

.MainMenu-item
	list-style none
	padding 0.5em 0
	margin 0

.MainMenu-list
	display inline-block
	margin 0
	padding 0.5em 0

.sublist
	border-radius 1em
	padding 1em 0.2em
	font-size 1em
	color black
	text-decoration none
	-webkit-transition 0.5s
	&:before
		margin-right 0.6em
	&:hover
		background lightgray
		color #0092be
		list-style point