#Note
	font-size 1.3em
	margin  0 1em 1em
	border-radius 0.5em
	background #ddce93
	text-align justify

.NoteContainer
	padding 1em
	h4
		text-shadow 1px 1px 5px black
		text-align center

.uno
	margin-bottom 4em