a
	color black
#note
	margin  0 1em 1em
	border-radius 0.5em
	background #ddce93
	text-align justify

.noteContainer
	padding 1em

.Checked
	padding 1em

#cart-table
	width 90%
	background #f6f5ea
	margin 0 auto
	padding 0
	border-radius 0.5em

tr
	text-align center

.Col
	padding 0
	margin 0

.Item
	margin 0
	padding 0
	word-wrap true
	p
		width 95%
		margin 1em 0
		padding 1em 0

.Totalpay
	margin 0 auto
	width 90%
	text-align right
	padding 1em

.Checkout
	color white
	background #39b421
	margin 0
	padding 0.6em
	border-radius 0.5em